---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Martin Salas - Candidato al Congreso 2026"
	description="Propuestas para mejorar la educación, salud y empleo en el Perú"
	image="/martin-salas-og.jpg"
>
	<h1>Martin Salas</h1>
</Layout>